doctype html

html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    script(type='javascript', src='/javascripts/jquery-3.5.1.js')
    script(type='javascript', src='/javascripts/bootstrap.js')
    script(type='javascript', src='/javascripts/bootstrap.min.js')
    
  body
    block content
  
